<div class="auth-wrapper">
    <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h3 class="h3 mb-3 font-weight-normal text-center">Sign in</h3>
        
        <div class="form-control">
            <label>Email address</label>
            <input type="email" class="form-control" formControlName="email">
        </div>
        <div class="form-control">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password">
        </div>
        <button type="submit" class="btn btn-block btn-primary">Log in</button>
    </form>
</div>